body {
  backgound-color: yellow;
}

/* body, h1,  { */
/*  font: courier; */
/*  font-color: brown; */
/*  background-color: skyblue; */


span{ 
         color: coral;
         background-color:powderblue         
         font: courier; 
         font-weight: bold; 
         font-size: 63x; 
         }  
