main {
  backgound-color: blue;
}

body {
  backgound-color: blue;
}

/* body, h1,  { */
/*  font: courier; */
/*  font-color: brown; */
/*  background-color: skyblue; */




h1 span { 
   color: coral; 
   font: bold 24px/45px Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
