body {
  backgound-color: skyblue;
}

body, h1,  {
  font: courier;
  font-color: brown;
  background-color: skyblue;
}

span{ 
         color: skyblue; 
         font: courier; 
         font-weight: bold; 
         font-size: 26px; 
         }  
